<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<title>Hello World</title>
</head>
<body>
	<h1>Hello World</h1>
	<form method="post" action="/hello">
		Enter a word: <input type="text" name="text1" th:value="${text1_value}"/>
		<input type="submit" value="Click"/>
	</form>
	<br />
	<form method="post" action="/hello/db">
		Enter employee ID: <input type="text" name="text2" th:value="${text2_value}">
		<input type="submit" value="Click">
	</form>
</body>
</html>